@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background: #a0e9ff !important;
  display: flex;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
  min-height: 100vh;
  font-weight: 400;
}

.buyTimeRangeLabel {
  margin-top: 17px;
}

.navbar {
  background: #a0e9ff !important;
  font-size: 23px;
  justify-content: center;
}

h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }

.container {
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    max-width: 361px;
    margin-top: 30px;
}

.buyPageSearchContainer {
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  min-width: 300px;
  margin-top: 30px;
  margin-right: 50px;
  float: left;
}

.buyPageOrdersContainer {
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  min-width: 660px;
  margin-top: 30px;
  float: left;
}

@font-face {
  font-family: 'Customized-Font';
  src: URL('CustomizedFont.ttf') format('truetype')
}

.navHeading {
    font-family: Customized-Font;
    margin-top: 25px;
    margin-right: 50px;
    float: left;
}

.heading {
  font-family: Customized-Font;
  margin-top: 25px;
}

form {
  margin: 20px;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signupInputText {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=button] {
  width: 130px;
  justify-self: stretch;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px; 
}

input[id=signup] {
  margin-right: 10px;
  border: 1px solid rgba(44, 88, 233, 0.4);
}

input[id=login] {
  margin-left: 10px;
  border: 1px solid rgb(44, 88, 233, 0.4);
}

input[type=change_password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
